body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: black;
    color: white;
}

body.blue {
    background-color: rgb(0, 128, 255);
    color: rgb(255, 145, 0);
}